*{
    padding: 0;
    margin: 0;
    outline: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2768f3;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 550px;
    border-radius: 10px;
    background-color: rgb(134, 189, 253);
    padding: 15px;
    box-shadow: 0 0 14px #000;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 450px;
    align-items: center;
}

h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
}

input {
    box-sizing: border-box;
    width: 350px;
    padding: 10px;
    border: solid rgb(57, 74, 226) 1px;
    border-radius: 12px;
    height: 40px;
    transition: 0.3s;
}

input:hover{
    box-shadow: 0 0 #000 8px;
    border: solid #000000 1.5px;
    background-color: rgb(245, 235, 235);
}

.botao{ 
    display: flex;
    justify-content: center;
    gap: 16px;
}

button{
    background-color: rgb(0, 89, 255);
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    height: 45px;
    width: 150px;
    margin: auto 0;
    border-radius: 10px;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

button:hover{
    color: #adc3f5;
    box-shadow: 0 0 6px black;
}

.resultado {
    background-color: #7a9ff7;
    height: 20px;
    margin: 15px;
    padding: 15px;
    color: #0000007e;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center; 
}